################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/packages
/teste/bin
/teste/obj/Debug
/.vs
